*{
    /*margin: 0;*/
    /*padding: 0;*/
  }
  html,body{
    /*margin: 0;*/
    padding: 0;
    height: 100%;
    background-color: #ffffff;

    width: 100%;
    max-width: 1920px;
    min-width: 1780px;

    position: relative;
    /*max-width: 2560px;*/
    margin: 0 auto;
  }
  #app {
    margin: 0;
    padding: 0;
    /*width:100%;*/
    height: 100%;
  }
  .header {
    margin: 0;
    padding: 0;

    width: 100%;
    z-index: 20;
    position: fixed;
    top: 0;
    height: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.88) 0%, rgba(0, 0, 0, 0) 100%);
  }
  .main{

    background: #ffffff;
  }
  .main-header .header-container:before{

    margin: 0;
    padding: 0;
    z-index: -1;
    height: 177px;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -50px;
    right: 0;
    background: url(../assets/head-bg.png) center repeat-x;
    background-size: auto 99%;
    width: 100%;
  }
  .no-main-header .header-container:before{
    z-index: -1;
    height: 187px;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -50px;
    right: 0;
    background: #2F318B;
    background-size: auto 99%;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.16);
    width: 100%;
  }
  .header-container {
    padding-top: 28.5px;
    /*width: 1920px;*/
    width: 100%;
    /*margin: 0 auto;*/
    /* display: flex;
    justify-content: space-around; */
  }
  .header-container.clearfix:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .header .logo{
    margin: 0;
    padding: 0;
    float: left;
    display: flex;
    align-items: center;
    margin-left: 70px;
  }
  .header .logo-container{
    margin: 0;
    padding: 0;
    height: 79px;
    width: 79px;

  }
  .header .name {
    margin: 0;
    padding: 0;
    margin-left: 8px;
  }
  .header .name .name_zh{
    margin: 0;
    padding: 0;
    width: 429px;
    height: 54px;
    font-size: 39px;
    font-family: STXingkaiSC-Bold, STXingkaiSC;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 54px;

  }
  .header .name .name_en{
    margin: 0;
    padding: 0;
    width: 427px;
    height: 34px;
    font-size: 25px;
    font-family: STXingkaiSC-Light, STXingkaiSC;
    font-weight: 300;
    color: #FFFFFF;
    line-height: 34px;
  }

  .no-main-header .name .name_zh{

    color: #2F318B !important;

  }
  .no-main-header .name .name_en{

    color: #2F318B !important;

  }

  .header .menu{

    margin: 0;
    padding: 0;
    padding-top: 20px;
    margin-left: auto;
    margin-right: 48px;
  }
  .header .menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding: 0;
    /*margin-top: 46px;*/
  }
  .header .menu ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
    min-width: 110px;
    text-align: left;

  }
  /* .header .menu ul li:not(:last-child) {
    margin-right: 60px;
  } */
  .header .menu-text {
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 36px;
    height: 24px;
    font-size: 18px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 24px;
  }
  .menu-jt{
    margin: 0;
    padding: 0;
    background: url('../assets/select-jt-w.png') 100% no-repeat;
    height: 7px;
    width: 13px;
    margin: 10px 4px auto;
  }
  /*.no-main-header .menu-jt{*/
  /*  background: url('../assets/select-jt.png') 100% no-repeat;*/
  /*}*/
  /*.no-main-header .menu-text {*/
  /*  color: #333333 ;*/
  /*}*/


  .app-area{
    /*text-align: left;*/
    /*min-height: 100%;*/
    margin-top :200px;
    padding-bottom :200px;
    min-height: calc(100% - 400px + 68px);
    word-break: break-all;
    word-wrap: break-word;
  }

  .app-name{
    width: 112px;
    height: 37px;
    font-size: 28px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #666666;
    line-height: 37px;

  }

  .st-x{
    margin-top: 15px;
    width: 50px;
    border: 5px solid #2F318B;
    border-radius: 10px;
  }



  /*.backtop {*/
  /*    height: 100%;*/
  /*    width: 100%;*/
  /*    background-color: var(--el-bg-color-overlay);*/
  /*    box-shadow: var(--el-box-shadow-lighter);*/
  /*    background: #2F318B;*/
  /*    border-radius: 50%;*/
  /*    display: flex;*/
  /*    align-items: center;*/
  /*    justify-content: center;*/
  /*  }*/
  /*  .a-details{*/
  /*    cursor: pointer;*/
  /*  }*/
  /*  .a-details:hover{*/
  /*    color: #066EF3;*/
  /*  }*/


/* 搜索 */
.title {
  width: 1200px;
  margin: 26px auto;
  text-indent: 40px;
  font-size: 16px;
  font-family: "PingFangSC-Semibold", "PingFang SC";
  font-weight: 600;
  color: #454545;
  line-height: 22px;
}
 .serach-form {
   display: flex;
   justify-content: end;
   height: 40px;
   margin-top: 16px;
   margin-bottom: 24px;
 }
  .search {
    width: 100px;
    height: 32px;
    background: #2F318B;
    border-radius: 4px;
    font-family: "PingFangSC-Regular", "PingFang SC";
    font-weight: 400;
    color: #FFFFFF;
    line-height: 20px;
    margin-right: 24px;
    margin-top: 4px;
 }

/*.content {*/
/*  text-indent: 0;*/
/*  padding-left: 40px;*/
/*  text-align: justify;*/
/*  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;*/
/*  font-weight: 400;*/
/*  font-size: 14px;*/
/*}*/
/*.tab-content {*/
/*  text-indent: 0;*/
/*  padding-left: 40px;*/
/*  text-align: justify;*/
/*  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;*/
/*  font-weight: 400;*/
/*  font-size: 14px;*/
/*}*/


.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.common-img{

  height: 100%;
  width: 100%;
  object-fit: cover;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.common-img-transition{

  transition: all 0.4s;
}
.single-line-break{
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}
.third-line-break{
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  word-break: break-all;
}