.listitem{
    width: 1200px;
    margin: 0 auto;
    text-indent: 40px;
  }
   .listitem .list-container{
     overflow: hidden;
   }
  .listitem .list-container:not(:last-child){
     margin-bottom: 30px;
  }
  .listitem.clearfix:after{
     content: '';
     display: block;
     height: 0;
     clear: both;
     visibility: hidden;
  }
  .list-left{
    float: left;
    width: 898px;
    font-size: 16px;
    font-family: "PingFangSC-Regular", "PingFang SC";
    font-weight: 400;
    color: #333;
    line-height: 22px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .list-left .dot{
    width: 5px;
    height: 5px;
    background: #066EF3;
    border-radius: 50%;
  }
  .list-right{
    float: right;
    font-size: 16px;
    font-family: "PingFangSC-Regular", "PingFang SC";
    font-weight: 400;
    color: #666666;
    line-height: 22px;
  }
  .page-container{
    width: 1200px;
    margin: 0 auto;
    margin-top: 41px;
    margin-bottom: 43px;
    display: flex;
    align-items: end;
    justify-content:end;
  }
  .page-container span{
     font-size: 12px;
     font-family: "PingFangSC-Regular", "PingFang SC";
     font-weight: 400;
     color: #4A4A4A;
     line-height: 17px;
  }
  .page-container:after {
     content: '';
     display: block;
     height: 0;
     clear: both;
     visibility: hidden;
  }