*{
  margin: 0;
  padding: 0;
}
  .main-cards {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 200px);
    margin: 0 auto;
    padding-bottom: 95px;
  }
  .main-cards .cards-item{
    flex: 1;
    width: 45%;
  }
  .main-cards .cards-item-title-text{
    width: 112px;
    height: 37px;
    font-size: 28px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #666666;
    line-height: 37px;
    float: left;
  }
  .main-cards .cards-item-title-tag{
    width: 45px;
    height: 21px;
    background: rgba(255, 165, 63, 0.16);
    border-radius: 11px;
    margin:12px 0 4px 10px;
    justify-content:center;
    align-items:center;
  }
  .main-cards .cards-item-title-tag .cards-item-title-tag-new{
    width: 29px;
    height: 16px;
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: rgba(255, 165, 63, 1);
    line-height: 16px;
  }
  .main-cards .col{
    display: flex;
    flex-direction: column;
  }
  .st-x{
    margin-top: 18px;
    width: 42px;
    border: 3px solid #2F318B;
    border-radius: 10px;
  }
  .main-cards .zxdt-img-con{
    margin-top: 22px;
    width: 100%;
    height: 540px;
    overflow: hidden;
  }
  .main-cards .zxdt-img-text{
    /*width: 238px;*/
    height: 24px;
    font-size: 18px;
    font-family: MicrosoftYaHei;
    color: #2F318B;
    line-height: 24px;
    text-align: center;
    width: 100%;
    margin: 23px 0 23px 0;
  }
  .main-cards .zxdt-title{
    width: 100%;
    height: 37px;
    font-size: 28px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #333333;
    line-height: 37px;
    text-align: center;
  }
  .main-cards .zxdt-summary{
    margin-top: 20px;
    margin-left: 7.5%;
    width: 85%;
    height: 144px;
    font-size: 16px;
    font-family: MicrosoftYaHei;
    color: #666666;
    line-height: 36px;
  }
  .main-cards .zxdt-btn{
    margin-top: 35px;
    margin-left: 7.5%;
    width: 85%;
  }
  .main-cards .zxdt-circle{
    width: 13px;
    height: 13px;
    background: #9D9D9D;
    opacity: 0.66;
    border-radius: 50%;
    margin-left: 15px;
  }
  .main-cards .zxdt-circle:first-of-type{
    margin-left: 0 !important;
  }
  .main-cards .zxdt-circle-activity{
    background: #888ABD !important;
  }


  .main-cards .tzgg-item{
    width: 100%;
    height: 150px;
    background: rgba(246, 246, 246, 1);
    border-radius: 2px;
    margin-top: 33px;
    cursor: pointer;
  }
  .main-cards .tzgg-item:hover{
    background: #2F318B;
  }
  .main-cards .tzgg-item:first-of-type{
    margin-top: 0 !important;
  }
  .main-cards .tzgg-item .tzgg-date{
    margin-top: 43px;
    height: 24px;
    font-size: 18px;
    font-family: MicrosoftYaHei;
    color: #BBBBBB;
    line-height: 24px;
    text-align: center;
  }
  .main-cards .tzgg-item .tzgg-year{
    margin-top: 10px;
    height: 31px;
    font-size: 24px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #999990;
    line-height: 31px;
    text-align: center;
  }
  .main-cards .tzgg-item .tzgg-split{
    margin-top: 22px;
    height: 106px;
    border: 1px solid #E8E8E8;
    text-align: center;
  }
  .main-cards .tzgg-item .tzgg-title{
    height: 26px;
    font-size: 20px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #333333;
    line-height: 26px;
    margin-top: 44px;
    margin-left: 32px;
  }
  .main-cards .tzgg-item .tzgg-summary{
    height: 21px;
    font-size: 16px;
    font-family: MicrosoftYaHei;
    color: #666666;
    line-height: 21px;
    margin-top: 13px;
    margin-left: 32px;

    display: inline-block;
    white-space: nowrap;
    width: 87%;
    overflow: hidden;
    text-overflow:ellipsis
  }
  .main-cards .tzgg-item:hover .tzgg-date{
    color: #FFFFFF;
  }
  .main-cards .tzgg-item:hover .tzgg-year{
    color: #FFFFFF;
  }
  .main-cards .tzgg-item:hover .tzgg-split{
    border: 1px solid #ECECEC;
  }
  .main-cards .tzgg-item:hover .tzgg-title{
    color: #FFFFFF;
  }
  .main-cards .tzgg-item:hover .tzgg-summary{
    color: #FFFFFF;
  }

  .zyfc{
    text-align: center;
    height: 1369px;
    background: rgba(250, 250, 250, 1);
    padding-bottom: 80px;
  }

  .common-text1{
    width: 380px;
    height: 37px;
    font-size: 28px;
    font-family: MicrosoftYaHei;
    color: rgba(179, 179, 179, 0.67);
    line-height: 37px;
    margin: 40px auto;
  }
  .common-text2{
    width: 112px;
    height: 37px;
    font-size: 28px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #333333;
    line-height: 37px;
    margin: 0px auto;
  }
  .zyfc-item{

    height: 220px;
    width: 90%;
    margin: 87px auto;

  }
  .zyfc-date{
    margin: 0 auto;
    height: 37px;
    font-size: 28px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #666666;
    line-height: 37px;
  }
  .zyfc-year{
    margin: 7px auto;
    height: 26px;
    font-size: 20px;
    font-family: MicrosoftYaHei;
    color: #999999;
    line-height: 26px;
  }
  .zyfc-title{
    height: 26px;
    font-size: 20px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #333333;
    line-height: 26px;
  }
  .zyfc-summary{
    height: 108px;
    font-size: 16px;
    font-family: MicrosoftYaHei;
    color: #666666;
    line-height: 36px;
  }
  .zyfc-more{
    height: 21px;
    font-size: 16px;
    font-family: MicrosoftYaHei;
    color: #999999;
    line-height: 21px;
    cursor: pointer;
    display: flex;

  }
  .zyfc-more img{
    width: 10px;
    height: 9px;
    margin: 6px auto 6px 8px;
  }
  .zyfc-img{
    height: 219px;
    width: 400px;

  }

  .hzsq{
    text-align: center;
    padding-bottom: 93px;
  }
  .hzsq-img{
    max-width: 470px;
    width: 37%;
    height: 330px;
    background: #D8D8D8;
    margin-top: 25px;
    z-index: 2
  }
  .hzsq-word{
    position: absolute;
    margin-top: 95px;
    right: 0;
  }
  .hzsq-content{
    margin-top: 85px;
    margin-left: 17.5%;
  }
  .hzsq-text-con{
    max-width: 834px;
    width: 63%;
    height: 382px;
    background: #FAFAFA;
  }
  .hzsq-text{
    height: 118px;
    font-size: 16px;
    font-family: MicrosoftYaHei;
    color: #454545;
    line-height: 36px;
    text-align: left;
    margin: 91px 77px auto;
  }
  .hzsq-text-con .el-button{
    width: 140px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #2F318B;
    text-align: left;
  }

  .jgcx{
    text-align: center;
    padding-bottom: 93px;
    background: rgba(250, 250, 250, 1);
  }
  .jgcx-word{
    position: absolute;
    margin-top: 330px;
  }
  .jgcx-img{
    max-width: 470px;
    width: 37%;
    height: 330px;
    background: #D8D8D8;
    margin-top: 25px;
    z-index: 2
  }
  .jgcx-text-con{
    max-width: 834px;
    width: 63%;
    height: 382px;
    background: #FFFFFF;
  }
  .jgcx-text{
    height: 22px;
    font-size: 17px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #666666;
    line-height: 22px;
    text-align: right;
    margin: 25px 0 auto auto ;
  }
  .jgcx-text-con .el-button{
    width: 100px;
    height: 48px;
    background: #2F318B;
    border-radius: 4px;
    border: 1px solid #2F318B;
    color: #FFFFFF;
    text-align: left;
  }
  .jgcx-text-con .el-input__inner{
    width: 97%;
    height: 48px !important
  }
  .jgcx-content{
    margin-top: 85px;
    margin-left: 17.5%;
  }

  .yqlj{
    /*background: #888ABD;*/
    background: rgba(47, 49, 139, 0.06);
    text-align: center;
    padding-bottom: 107px;
  }
  .yqlj .yqlj-item{

    width: 269px;
    height: 240px;

    margin-left: 34px;
  }
  .yqlj .yqlj-item img{

    box-shadow: 0px 0px 14px 1px rgba(229, 229, 238, 0.5);
    border-radius: 4px;
  }

  .hzzs{
    background: #FFFFFF;
    text-align: center;
    padding-bottom: 97px;
  }

  .hzzs-side{
    width: 191px;
    height: 347px;
    background: #D8D8D8;
    opacity: 0.25;
    border: 1px solid #979797;
  }
  .hzzs-side img{
    width: 50px;
    height: 50px;
    position: relative;
    top: 134px;
    cursor: pointer;
  }
  .hzzs-content{
    width: 100%;
  }
  .hzzs-item{
    width: 33%;
    background: #D8D8D8;
    height: 347px;
    margin-left: 20px;
  }
  .hzzs .el-button{
    width: 140px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #2F318B;
  }
  .hzzs-item img{
    z-index: 1;
  }
  .hzzs-item-bg{
    height: 89px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 100%);
    /*position: absolute;*/
    z-index: 2;
    margin-top: -89px;
    position: relative;
    text-align: left;
  }
  .hzzs-item-title{
    height: 21px;
    font-size: 16px;
    font-family: MicrosoftYaHei;
    color: #FFFFFF;
    line-height: 21px;
    z-index: 3;
    margin-top: 22px;
    margin-left: 16px;
  }
  .hzzs-item-summary{
    z-index: 3;
    width: 362px;
    height: 19px;
    font-size: 14px;
    font-family: MicrosoftYaHei;
    color: #FFFFFF;
    line-height: 19px;
    margin-top: 10px;
    margin-left: 16px;
  }
  .hzzs-item-bg img{
    width: 21px;
    height: 21px;
    margin: 5px 16px auto auto;
  }


  .main-cards .cards-item span.notice,
  .main-cards .cards-item span.trends,
  .main-cards .cards-item span.jooblook,
  .main-cards .cards-item span.application,
  .main-cards .cards-item span.agency-query,
  .main-cards .cards-item span.cooperation-show,
  .main-cards .cards-item span.friendly-link
  {
    font-size: 18px;
    padding-left: 5px;
    font-family: "PingFangSC-Semibold", "PingFang SC";
    font-weight: 400;
    color: #454545;
    line-height: 25px;
    vertical-align: top;
  }
  .main-cards .cards-item span.notice,
  .main-cards .cards-item span.trends,
  .main-cards .cards-item span.jooblook,
  .main-cards .cards-item span.application,
  .main-cards .cards-item span.agency-query{
    font-weight: 600;
  }
  .main-cards .cards-item span.more {
    float: right;
    font-size: 14px;
    font-family: "PingFangSC-Regular", "PingFang SC";
    font-weight: 400;
    color: #2F318B;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .more-icon{
    display: inline-block;
    width: 16px;
    height: 16px;
  }
  .main-cards .cards-item span.more img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding-left: 2px;
    vertical-align: text-top;
  }
  .list ul  li{
    list-style:none;
    margin-top: 16px;
    cursor: pointer;
  }
  .dot{
    width: 5px;
    height: 5px;
    background: #066EF3;
    border-radius: 50%;
    display: inline-block;
    vertical-align:middle;
    margin-right: 5px;
  }
  .msg-title{
    display: inline-block;
    width:65%;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow:ellipsis;
    font-size: 14px;
    font-family: "PingFangSC-Regular", "PingFang SC";
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    cursor: pointer;
  }
  .msg-title:hover{
    color: #066EF3;
  }
  .date{
    display: inline-block;
    width: 35%;
    text-align: right;
    font-size: 14px;
    font-family: "PingFangSC-Regular", "PingFang SC";
    font-weight: 400;
    color: #666666;
    line-height: 20px;
  }
  .apply {
    width: 140px;
    margin: 0 auto;
    padding-left: 16px;
    margin-top: 24px;
  }
  .apply button{
    width: 140px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #2F318B;
    color: #2F318B;
  }
  .demo-form-inline{
    text-align: center;
  }
  form{
    display: flex;
    justify-content: space-between;
  }
  .content_intro{
    font-size: 14px;
    font-family: "PingFangSC-Regular", "PingFang SC";
    font-weight: 400;
    color: #454545;
    line-height: 28px;
  }
  form .el-form-item{
    width: 100%;
    margin-right: 16px;
  }
  form .el-form-item >>>label{
    font-size: 14px;
    font-family: "PingFangSC-Regular", "PingFang SC";
    font-weight: 400;
    color: #454545;
  }
  form .el-form-item >>>input{
    height: 40px;
    border-radius: 4px;
    border: 1px solid #CBCBCB;
  }
  form button {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #2F318B;
    color: #2F318B;
  }
  .intro{
    font-size: 12px;
    font-family: "PingFangSC-Regular", "PingFang SC";
    font-weight: 400;
    color: #666666;
    line-height: 17px;
    text-align: right;
  }
  .intro p:first{
    margin-bottom: 8px;
  }
  .pics{
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    margin-top: 25px;
    
  }
  .pics .item {
    position: relative;
    height: 258px;
    box-shadow: 0px 0px 14px 1px rgba(250, 250, 240, 0.5);
    border-radius: 6px;
    width: 25%;
    /* width: -moz-calc(25%-16px);
    width: -webkit-calc(25%-16px); */
  }
  .pics .item:not(:last-child)
  {
    margin-right: 16px;
  }
  .pics img{
    cursor: pointer;
    border-radius: 6px;
  }
  .pics.container  image{
    box-shadow: 0px 0px 14px 1px rgba(250, 250, 240, 0.5);
    border-radius: 4px;
  }
  .category-title {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 0;
    color: #fff;
    height: 44px;
    line-height: 44px;
    background: #2F318B;
    border-radius: 0px 0px 6px 6px;
    opacity: 0.8;
  }
  .pic-item {
    height: 203px;
    box-shadow: 0px 0px 14px 1px rgba(229, 229, 238, 0.5);
    width: 20%;
  }
  .pic-item:not(:last-child) {
    padding-right: 16px;
  }
  .pic-item img {
    height: 100%;
    width: 100%;
    border-radius: 4px;


  }
