*{
  margin: 0;
  padding: 0;
}
.main-cards {
    display: flex;
    justify-content: space-between;   
  }
  .main-cards .cards-item{
    flex: 1;
    width: 50%;
  }
  .main-cards .col{
    display: flex;
    flex-direction: column;
  }
  .main-cards .col .last-one{
    flex-grow: 1;
  }
  .main-cards .cards-item span.notice,
  .main-cards .cards-item span.trends,
  .main-cards .cards-item span.jooblook,
  .main-cards .cards-item span.application,
  .main-cards .cards-item span.agency-query,
  .main-cards .cards-item span.cooperation-show,
  .main-cards .cards-item span.friendly-link
  {
    font-size: 18px;
    padding-left: 5px;
    font-family: "PingFangSC-Semibold", "PingFang SC";
    font-weight: 400;
    color: #454545;
    line-height: 25px;
    vertical-align: top;
  }
  .main-cards .cards-item span.notice,
  .main-cards .cards-item span.trends,
  .main-cards .cards-item span.jooblook,
  .main-cards .cards-item span.application,
  .main-cards .cards-item span.agency-query{
    font-weight: 600;
  }
  .main-cards .cards-item span.more {
    float: right;
    font-size: 14px;
    font-family: "PingFangSC-Regular", "PingFang SC";
    font-weight: 400;
    color: #2F318B;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .more-icon{
    display: inline-block;
    width: 16px;
    height: 16px;
  }
  .main-cards .cards-item span.more img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding-left: 2px;
    vertical-align: text-top;
  }
  .list ul  li{
    list-style:none;
    margin-top: 16px;
    cursor: pointer;
  }
  .dot{
    width: 5px;
    height: 5px;
    background: #066EF3;
    border-radius: 50%;
    display: inline-block;
    vertical-align:middle;
    margin-right: 5px;
  }
  .msg-title{
    display: inline-block;
    width:65%;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow:ellipsis;
    font-size: 14px;
    font-family: "PingFangSC-Regular", "PingFang SC";
    font-weight: 400;
    line-height: 20px;
    color: #333333;
  }
  .msg-title:hover{
    color: #066EF3;
  }
  .date{
    display: inline-block;
    width: 35%;
    text-align: right;
    font-size: 14px;
    font-family: "PingFangSC-Regular", "PingFang SC";
    font-weight: 400;
    color: #666666;
    line-height: 20px;
  }
  .apply {
    width: 140px;
    margin: 0 auto;
    padding-left: 16px;
    margin-top: 24px;
  }
  .apply button{
    width: 140px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #2F318B;
    color: #2F318B;
  }
  .demo-form-inline{
    text-align: center;
  }
  form{
    display: flex;
    justify-content: space-between;
  }
  .content_intro{
    font-size: 14px;
    font-family: "PingFangSC-Regular", "PingFang SC";
    font-weight: 400;
    color: #454545;
    line-height: 28px;
  }
  form .el-form-item{
    width: 100%;
    margin-right: 16px;
  }
  form .el-form-item >>>label{
    font-size: 14px;
    font-family: "PingFangSC-Regular", "PingFang SC";
    font-weight: 400;
    color: #454545;
  }
  form .el-form-item >>>input{
    height: 40px;
    border-radius: 4px;
    border: 1px solid #CBCBCB;
  }
  form button {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #2F318B;
    color: #2F318B;
  }
  .intro{
    font-size: 12px;
    font-family: "PingFangSC-Regular", "PingFang SC";
    font-weight: 400;
    color: #666666;
    line-height: 17px;
    text-align: right;
  }
  .intro p:first{
    margin-bottom: 8px;
  }
  .pics{
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    margin-top: 25px;
    
  }
  .pics .item {
    position: relative;
    height: 258px;
    box-shadow: 0px 0px 14px 1px rgba(250, 250, 240, 0.5);
    border-radius: 6px;
    width: 25%;
    /* width: -moz-calc(25%-16px);
    width: -webkit-calc(25%-16px); */
  }
  .pics .item:not(:last-child)
  {
    margin-right: 16px;
  }
  .pics img{
    cursor: pointer;
    border-radius: 6px;
  }
  .pics.container  image{
    box-shadow: 0px 0px 14px 1px rgba(250, 250, 240, 0.5);
    border-radius: 4px;
  }
  .category-title {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 0;
    color: #fff;
    height: 44px;
    line-height: 44px;
    background: #2F318B;
    border-radius: 0px 0px 6px 6px;
    opacity: 0.8;
  }
  .pic-item {
    height: 203px;
    box-shadow: 0px 0px 14px 1px rgba(229, 229, 238, 0.5);
    width: 20%;
  }
  .pic-item:not(:last-child) {
    padding-right: 16px;
  }
  .pic-item img {
    height: 100%;
    width: 100%;
    border-radius: 4px;
  }
  